<!DOCTYPE html>
<html>
<head>
	<title>Peak Seekers</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheet/main.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Peak Seekers</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="#"><%= data.name %></a></li>
        <li><a href="/events">Blog</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (!currentUser) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Sign up</a></li> 
        <% } else { %>
          <li><a href="#">Signed In As <%= currentUser.username %></a></li>
          <li><a href="/logout">Logout</a></li>
        <% } %>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row" id="show-content">
    <div class="col-md-9">
      <div  class="thumbnail">
          <img class="img-responsive" src="<%= data.image%>">
          <div class="caption-full" >
            <h4 class="pull-right"><%= data.price %> <i> 5 days / 4 night</i></h4>
            <h1><a><%= data.name %></a></h1>
            <h3>Going on date: <%= data.date.toDateString() %></h3>
            <p id="description"><%= data.description %></p>
            <hr>
            <a href="/events/book/<%= data.id%>/form" class="btn btn-block btn-success">Book Now!</a> 
          </div>
      </div>
      

    </div>
  </div>
</div>


<footer align="center"><h6><i>Peak Seekers all rights reserved</i></h6></footer>
</body>
</html>