<!DOCTYPE html>
<html>
<head>
	<title>Peak Seekers</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="css/mobiscroll.javascript.min.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="/stylesheet/main.css">
  
</head>
<body background="<%= booking.image %>">
<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Peak Seekers</a>
     </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home<span class="sr-only"></span></a></li>
        <li><a href="/events">Blog</a></li>
        <li><a href="#"><%= booking.location%></a></li>
        <li class="active"><a href="#">Confirmation</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (!currentUser) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Sign up</a></li> 
        <% } else { %>
          <li><a href="#">Signed In As <%= currentUser.username %></a></li>
          <li><a href="/logout">Logout</a></li>
        <% } %>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

<div class="container">
  <div class="row" id="show-content">
    <div class="jumbotron" style="margin: 5% 18%; opacity: 0.7; color: #00264d; padding: 3%;">
    <h2>Hello there <%= booking.customer%>, your booking is now confirmed!</h2>
    <h3>Following is the summary of your trek</h3>
    <ul style="font-size: 20px;">
      <li>Location : <%= booking.location %> </li>
      <li>Headed on date : <%= booking.event_date.toDateString() %> for 5 days and 4 nights</li>
      <li>Total People on board : <%= booking.people %></li>
      <li>Total Expense : <%= booking.total_price %> (All inclusive)</li>
      <li>You'll receive a confirmation message and further details on <b><%= booking.email %></b></li>
      <li>For any Queries mail us on <b><i>peakseekers@gmail.com</i></b> and contact us on <b><i>777-555-4321</i></b>
        </li>
    </ul>
    
    </div>
  </div>
    
</div>
</div>


<footer class="panel-footer">
  <div class="container">
    <div class="row">
      <section id="hours" class="col-sm-4">
        <span><b>About Peak Seekers</b></span><br>
        <p><a href="#"> About Us</a> <br>
          <a href="#">Terms and Conditions</a><br>
          <a href="#">Privacy Policy</a> <br>
          <a href="#">Copyright Policies</a> <br>
          <a href="#">Support Us</a><br>
          <a href="#">Apps</a></p>
      </section>
      <section id="hours" class="col-sm-4">
        <span><b>For Brands</b></span><br>
        <p>
          <a href="#">Partner with us</a> <br>
          <a href="#">Destination Marketing</a>
        </p><br>
        <span><b>For Travellers</b></span><br>
        <p>
          <a href="#">We are hiring</a><br>
        </p>
      </section>
      <section id="hours" class="col-sm-4">
        <span><b>Find us</b></span><br>
        <p>07 Tuscano tower,<br> Lower Parel, <br> Mumbai 400012,<br> Maharashtra.</p><br>
        <span><b>Contact us</b></span><br> 
        <a href="#">Mail us on : <i>peakseekers@gmail.com</i></a>       
          <a class="btn" href="tel:777-555-4321">
            <span class="glyphicon glyphicon-earphone"></span>
              777-555-4321
          </a>
      </section>
    </div>
  </div>
<h6 align="center"><i>&copy; Peak Seekers all rights reserved</i></h6>
</footer>
<script src="js/mobiscroll.javascript.min.js"></script>
</body>
</html>