<!DOCTYPE html>
<html>
<head>
	<title>Peak Seekers</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="css/mobiscroll.javascript.min.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="/stylesheet/main.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Peak Seekers</a>
     </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/events">Blog</a></li>
        <li  class="active"><a href="#"><%= data.name %></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (!currentUser) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Sign up</a></li> 
        <% } else { %>
          <li><a href="#">Signed In As <%= currentUser.username %></a></li>
          <li><a href="/logout">Logout</a></li>
        <% } %>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row" id="show-content">
    <div class="col-md-9">
      <div class="thumbnail">
          <img class="img-responsive" src="<%= data.image%>">
          <div class="caption-full">
            <h4><a><%= data.name %></a></h4>
            <p><%= data.description %></p>
            <p><em>Submmited By <%= data.author.username %></em></p>
              <div class="container">
                <div class="row">
                  <% if(currentUser && data.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-warning" href="/events/<%= data._id%>/edit">Update</a>
                    <form class="" action="/events/<%= data._id %>?_method=DELETE" method="POST">
                      <button style="margin-top: 10px;" class="btn btn-danger">Delete</button>
                    </form>
                  <% } %>
                </div>
              </div>
          </div>
      </div>
      <div class="well">
        <div class="text-right">
           <a class="btn btn-success" href="/events/<%= data._id %>/comments/new">Add New Comment</a>
        </div>
        <hr>
        <% data.comments.forEach(function(comment){ %>
          <div class="row">
            <div class="col-md-12">
                <strong><%= comment.author.username %></strong>
                <span class="pull-right"><%= comment.time.toDateString() %></span>
                <p>
                  <%= comment.text%>
                </p>
                <!-- <a href="/events/<%= data._id %>/comments/<%= comment._id %>/edit" 
                  class="btn btn-xs btn-warning">Edit
                </a> -->
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>


<footer align="center"><h6><i>Peak Seekers all rights reserved</i></h6></footer>
<script src="js/mobiscroll.javascript.min.js"></script>
</body>
</html>